/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #41d4d4; /* Header background color */
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Navigation links in header */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Language Switch Buttons */
.language-buttons {
  display: flex;
}

.language-buttons button {
  background-color: white;
  color: #007BFF;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.language-buttons button:hover {
  background-color: #f0f0f0;
}

/* Content Section */
.content {
  margin-top: 80px; /* To avoid overlap with fixed header */
  padding: 20px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
}

img {
  display:block;
  width: 100%;
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right:auto;
}

/* Mobile-Friendly */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  .language-buttons {
    margin-top: 10px;
  }
}
